.Tournament {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #ccc;
}

.Tournament:last-of-type {
  border-bottom: 1px solid #ccc;
}

.Tournament:hover {
  background-color: #dddddd;
}

.Tournament-date {
  margin: 1em;
  flex-grow: 1;
}

.Tournament-active {
  margin: 1em;
  flex-grow: 1;
  color: #2ecc40;
}
