.Matches-title {
  margin: 1em;
}

.Match-gain {
  margin-bottom: 1em;
}

.Add-Match {
  height: 4em;
  width: 4em;
  left: 75%;
  top: 85%;
  border-radius: 100%;
  position: fixed;
  background-color: rgb(164, 163, 236);
  color: white;
}
