.Tournament {
  margin-bottom: 1em;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #ccc;
}

.Tournament:hover {
  background-color: lightgrey;
}

.Tournament-date {
  margin: 1em;
  flex-grow: 1;
}

.Tournament-active {
  margin: 1em;
  flex-grow: 1;
}
