.Tournament {
  margin-bottom: 1em;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
}

.Tournament:hover {
  background-color: rgb(160, 146, 185);
}

.Tournament-date {
  margin: 1em;
  flex-grow: 1;
}

.Tournament-active {
  margin: 1em;
  flex-grow: 1;
}
